# left side app, right side model. easy cheesy.
AUDITED_MODELS = (
                    ('auth', 'user'),
                    ('accounting', 'Company'), 
                    ('accounting', 'WhoCares'),
                    ('accounting', 'Transaction'),
                    ('merch', 'Product')
                 )